/********** Template CSS **********/
:root {
    --primary:  #2b3de3 !important;
    --secondary: #e9ffe6;
    --light: #31c20c;
    --dark: #001D23;
}

body{
    font-family: 'Poppins', sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    background-color:rgba(57, 57, 230, 0.382) ;
    border: none;
}
.btn-outline-primary{
    background-color:rgba(57, 57, 230, 0.382) ;
    border: 2px solid rgb(77, 76, 80);
    border-radius: 1rem;
    color: white;

}
label{
    color: white;
}

.sumate{
    margin-bottom: 10rem;
}


.submit_btn{
    color: white !important;
    background-color: var(--primary);
}


.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #e7e9f2;
}

.btn.btn-primary:hover {
    background-color: var(--primary);
    background: transparent;
    background: rgba(49, 49, 240, 0.439);
    border: 2px solid rgba(0, 0, 0, 0.234);

    
}

.fa-arrow-right{
    color: black ;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
/*** Inicio ***/


/*** titulos ***/
.titulos_dk_form{
    color: rgb(246 246 246);
}




.titulos_dk{
    color: rgb(103, 103, 238);
}

.actividades{
    margin-top: 3.2rem;
}


.sumate{
    margin-top: 2rem;
}

form{
    margin-bottom:3rem;
}

.form_sec{
    background-image: url(../img/carousel-2.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.text_main{
    color: black;
}
.about_about{
    padding: 10rem;
}

.b-none{
    background: none !important; 
}

.container_actividades{
    padding-bottom: 6rem;
    padding-top: 4rem;
}
.actividades_item h5{
    font-size: 2rem;
    color: salmon;
}

.ab_container{
    padding-bottom: 6rem;
}

.ac_container{
    padding: 5rem;

}


.fondo_dailan{
    background: url(../img/fondoDailan.jpg) rgba(0, 0, 0, 0.192);
    background-size: cover;

}



@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  {

}
    
.container_form_back{
    background-color: rgba(2, 1, 1, 0.711);

}



/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 29, 35, .8);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* About us page  */
.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}




/* ACTIVIDADES */


.actividades_item .causes-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.actividades_item:hover .causes-overlay {
    height: 100%;
    opacity: 1;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}



.contact_form_back {
    background: rgba(0, 29, 35, .8) !important;
}



.footer_mg{
    margin-top:-3rem !important;
}


.btn-group .btn-light:hover,
.btn-group input[type="radio"]:checked+label {
    color: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255,255,255,0.5);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: var(--primary);
}


